version: '3.4'

services:
  angulartest-backend:
    image: beela/angular-csharp-test-backend:latest
    build:
      context: .
      dockerfile: AngularTest-Backend\Dockerfile
    ports:
      - 7057:7057
      

  frontend:
    depends_on:
      - angulartest-backend
    image: beela/angular-csharp-test-frontend:latest
    ports:
      - 4200:4200
